<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")


    </head>
    <body>
        <div class="navbar navbar-inverse col-lg-12">
            <div class="row col-lg-8">
                <div class="navbar-header col-lg-8">
                    <p class="navbar-brand">Pair Typing</p>
                </div>
                <div class="clock-container col-lg-7">
                    <div id="" data-bind="clock: stopwatch.clock" class="clock">
                        <ul>
                            <li id="hours"></li>
                            <li id="point">:</li>
                            <li id="min"></li>
                            <li id="point">:</li>
                            <li id="sec"></li>
                        </ul>
                    </div>
                </div>
                <div data-bind="text: '#'+currentPlace()" class="place col-lg-4"></div>

            </div>
            <div  class="col-lg-3 information">
                <table>
                    <tr>
                        <td class=""><span class="fa fa-user"></span><span class="fa fa-user"></span></td>
                        <td>Two players</td>
                    </tr>
                    <tr>
                        <td class="larger-font"><span class="fa fa-keyboard-o"></span></td>
                        <td>One hand each on the keyboard</td>
                    </tr>
                    <tr>
                        <td class="larger-font"><span class="fa fa-clock-o"></span></td>
                        <td>Replicate the given code as fast as possible!</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <footer>
                <div class="col-lg-6">
                    <p class="row">Press ESC to view High Score</p>
                    <p class="row">Press Ctrl + R to Restart</p>
                </div>
                <img class="pull-right" src="/Content/img/clave_logo_positiv_RGB.png" style="height: 300px;"></img>
            </footer>
        </div>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>